pipeline/pl_databricks_sales_dynamic_process.json
{
	"name": "pl_databricks_sales_dynamic_process",
	"properties": {
		"activities": [
			{
				"name": "Fetch-job-table-data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.JOB_LIST_DYNAMIC where id not in (7,8)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLJOBDataDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Process_Multipletables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch-job-table-data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch-job-table-data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Databricks-dynamic-dim-process",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Pyspark_Project_Code_Dynamic/sales_load_dynamic",
								"baseParameters": {
									"curation_zone_database_name": {
										"value": "@item().curation_zone_database_name",
										"type": "Expression"
									},
									"curation_zone_table_name": {
										"value": "@item().curation_zone_table_name",
										"type": "Expression"
									},
									"curation_zone_table_pk_column": {
										"value": "@item().curation_zone_table_pk_name",
										"type": "Expression"
									},
									"dw_zone_database_name": {
										"value": "@item().dw_zone_database_name",
										"type": "Expression"
									},
									"dw_zone_table_name": {
										"value": "@item().dw_zone_table_name",
										"type": "Expression"
									},
									"dw_zone_table_pk_column": {
										"value": "@item().dw_zone_table_pk_column",
										"type": "Expression"
									},
									"staging_zone_database_name": {
										"value": "@item().staging_zone_database_name",
										"type": "Expression"
									},
									"staging_zone_table_name": {
										"value": "@item().staging_zone_table_name",
										"type": "Expression"
									},
									"staging_zone_table_pk_column": {
										"value": "@item().staging_zone_table_pk_name",
										"type": "Expression"
									},
									"landing_zone_file_path": {
										"value": "@item().landing_zone_file_path",
										"type": "Expression"
									},
									"landing_zone_folder_name": {
										"value": "@item().landing_zone_folder_name",
										"type": "Expression"
									},
									"landing_zone_file_name": {
										"value": "@item().landing_zone_file_name",
										"type": "Expression"
									},
									"landing_zone_file_type": {
										"value": "@item().landing_zone_file_type",
										"type": "Expression"
									},
									"pyspark_schema": {
										"value": "@item().pyspark_schema",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ADBS_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [
			"sales-dynamic"
		]
	}
}