pipeline/pl_master_sales_load.json
{
	"name": "pl_master_sales_load",
	"properties": {
		"activities": [
			{
				"name": "LookupGetJobDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "select * from jobs.job_list_dynamic where job_status=1 order by job_id"
					},
					"dataset": {
						"referenceName": "ds_azure_deltalake_control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupGetJobDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupGetJobDetails').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pl_child_sales_load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child_sales_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_folder_name": {
										"value": "@item().source_folder_name",
										"type": "Expression"
									},
									"pyspark_schema": {
										"value": "@item().pyspark_schema",
										"type": "Expression"
									},
									"landing_zone_file_path": {
										"value": "@item().landing_zone_file_path",
										"type": "Expression"
									},
									"landing_zone_folder_name": {
										"value": "@item().landing_zone_folder_name",
										"type": "Expression"
									},
									"staging_zone_database_name": {
										"value": "@item().staging_zone_database_name",
										"type": "Expression"
									},
									"staging_zone_table_name": {
										"value": "@item().staging_zone_table_name",
										"type": "Expression"
									},
									"staging_zone_table_pk_column": {
										"value": "@item().staging_zone_table_pk_column",
										"type": "Expression"
									},
									"curation_zone_database_name": {
										"value": "@item().curation_zone_database_name\t",
										"type": "Expression"
									},
									"curation_zone_table_name": {
										"value": "@item().curation_zone_table_name",
										"type": "Expression"
									},
									"curation_zone_table_pk_column": {
										"value": "@item().curation_zone_table_pk_column",
										"type": "Expression"
									},
									"dw_zone_database_name": {
										"value": "@item().dw_zone_database_name",
										"type": "Expression"
									},
									"dw_zone_table_name": {
										"value": "@item().dw_zone_table_name",
										"type": "Expression"
									},
									"dw_zone_table_pk_column": {
										"value": "@item().dw_zone_table_pk_column",
										"type": "Expression"
									},
									"job_id": {
										"value": "@item().job_id",
										"type": "Expression"
									},
									"job_name": {
										"value": "@item().job_name",
										"type": "Expression"
									},
									"landing_zone_file_type": {
										"value": "@item().landing_zone_file_type",
										"type": "Expression"
									},
									"landing_zone_file_name": {
										"value": "@item().landing_zone_file_name",
										"type": "Expression"
									},
									"table_type": {
										"value": "@item().table_type",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SALES"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-10T04:26:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}